name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Project/requirements.txt
        pip install pylint pytest pytest-cov

    - name: Run Pylint
      run: |
        pylint src test

    - name: Run Pytest
      run: |
        pytest --cov=src --maxfail=1 --disable-warnings -v
